apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-cost-exporter
  labels:
    app.kubernetes.io/name: aws-cost-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: aws-cost-exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: aws-cost-exporter
    spec:
      serviceAccount: aws-cost-exporter
      serviceAccountName: aws-cost-exporter
      containers:
        - name: aws-cost-exporter
          image: "opensourceelectrolux/aws-cost-exporter:v1.1.4"
          command: [ "python", "main.py", "-c", "/exporter_config.yaml" ]
          imagePullPolicy: Always
          ports:
            - containerPort: 9090
              name: metrics
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: metrics
            failureThreshold: 10
            initialDelaySeconds: 180
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health
              port: metrics
            failureThreshold: 10
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              memory: 500Mi
            requests:
              cpu: 50m
              memory: 300Mi
          volumeMounts:
          - name: config-volume
            mountPath: /exporter_config.yaml
            subPath: exporter_config.yaml
      volumes:
        - name: config-volume
          configMap:
            name: aws-cost-exporter-config
